.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.frq
*.frq
*.fdt
*.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
*.json
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml